<!DOCTYPE html>
<html>
  <head>
    <title>Listado de libros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <h1>Listado de libros</h1>
  <ul class="lista">
    <% books.forEach(book => {%>
        <li class="lista-item">
            <a href= "libro/<%= book.idLibro %>" class="lista-item_link">
                <img src="/images/gatito.jpg" alt="" class="lista-item_img">
               <h2><%= book.titulo %></h2>
            </a>
         </li>    
        
        <%})%>

  </ul><!-- ACA CIERRA UL -->
  <ul class="lista">
    <li class="lista-item">
        <a href="/libro/4" class="lista-item_link">
            <img src="/images/gatito.jpg" alt="" class="lista-item_img">
            Título del libro
        </a>
    </li>    
    <li class="lista-item">
        <a href="/libro/4" class="lista-item_link">
            <img src="/images/gatito.jpg" alt="" class="lista-item_img">
            Título del libro
        </a>

    </li>    

  </ul>
  </body>
</html>
